.beauty-beast{
    background-color: black;
    background-size: cover;
    height:100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.beast-on {
    width: 300px;
}
.beauty-on {
    width: 300px;
}
.cardswitch {
    height: 150px;
    width: 200px;
    background-color: black ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
   
}
.para {
    color: white;
    font-size: 20px;
    font-family: roboto;
    font-weight: 500;
}
.button-on {
    height: 30px;
    width: 70px;
    background-color:yellow;
    border-radius: 20px;
    border-width: 0px;
    margin: 10px;
}
.button-off {
    height: 30px;
    width: 70px;
    background-color:red;
    color: white;
    border-radius: 20px;
    border-width: 0px;
}